cmake_minimum_required(VERSION 3.16)
project(statix_statecharts C)

set(CMAKE_C_STANDARD 99)
set(CMAKE_C_STANDARD_REQUIRED ON)

add_compile_options(-Wall -Wextra -Wpedantic -Wconversion -Wsign-conversion -Wdouble-promotion -Werror)

include_directories(${CMAKE_CURRENT_SOURCE_DIR}/include)

add_library(statix_statecharts STATIC
  src/sc_runtime_impl.c
{{ lib_sources }})
{% if math_lib %}
target_link_libraries(statix_statecharts{{ math_lib }})
{% endif %}
{{ runners_tail -}}
